.bs-callout-info {
background-color: #f4f8fa;
border-color: #5bc0de;
}

#files{
	margin-left:40%;
	margin-right:40%;
	margin-bottom:10px;
}

#currentProject{
	font-style: italic;
	font-size: 20px;
}

.glyphicon-play-circle:hover{
  color: #66B005
}

.glyphicon-remove:hover{
  color: black
}


.glyphicon-stop:hover{
  color: #DB0202;
}